---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <article class="prose">
      <p>
        Hello world! I'm Yongyi. I like:
        <ul>
          <li>Computers</li>
          <li>Algebraic number theory</li>
          <li>Beautiful math problems and proofs</li>
          <li>Tuning my piano and playing it</li>
          <li>Everything written by Chopin</li>
          <li>Social situations where I can understand everything everyone is saying</li>
        </ul>
        I don't like:
        <ul>
          <li>Mosquitoes</li>
          <li>Social situations where I can't understand a word anyone are saying</li>
        </ul>
      </p>
      <p>You can contact me at <code>yongyi781 AT outlook.com</code>.</p>
  </article>
</Layout>
