---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"

export interface Props {
  title?: string
  description?: string,
  maxWidth?: number
}
const { title = SITE_TITLE, description = SITE_DESCRIPTION, maxWidth = 896 } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body class="min-h-screen flex flex-col bg-gradient-to-t from-slate-100 via-slate-50 to-slate-100">
    <Header />
    <main class="p-10 max-w-4xl m-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
